.navbar-icon{
    padding: 0px 10px;
    font-size: 20px;
}
.navbar-icon p{
    font-size: 12px;
    margin: 0px;
}

.nav-link{
    font-size: 20px;
    font-weight: 600;
}

.nav-link:hover {
    color: #007BFF; /* Change the text color on hover */
  }

.navbar{
    padding: 0px 50px;
}
.navbar-brand:hover {
    background-color: #0db7af;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #007d7a; 
  }

  